<%- include('partials/header', { title: 'About' }) %>
<body style="background-color: #FCFFE7;">
<link rel="stylesheet" href="/css/about.css">
<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title text-center">About Us</h2>
      <p class="card-text text-center">Welcome to TripBliss - Your Ultimate Travel Companion!</p>
      <p class="card-text">At TripBliss, we are passionate about making your travel dreams come true. Whether you're planning a weekend getaway or a long-awaited vacation, we've got you covered. Our team of experts works tirelessly to provide you with the best travel experiences.</p>
      <p class="card-text">What sets us apart:</p>
      <ul>
        <li>Wide Range of Destinations: Explore a vast selection of travel destinations around the world.</li>
        <li>Flexible Booking Options: Choose from various flight, hotel, and car rental options to customize your trip.</li>
        <li>Exceptional Customer Service: Our dedicated team is available 24/7 to assist you.</li>
        <li>Travel Tips and Guides: Access travel tips, local insights, and guides to make the most of your journey.</li>
      </ul>
      <p class="card-text">Your travel adventure begins with TripBliss. Let us be your travel companion, and together we'll create memories that last a lifetime.</p>
    </div>
  </div>
</div>
</body>
<%- include('partials/footer') %>
