<%- include('partials/header', { title: 'Contact Us' }) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="/public/css/style.css">
<body style="background-color: #FCFFE7;">
    <div class="container my-5">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Contact Us</h2>
          <p class="card-text text-center">We would love to hear from you. Feel free to get in touch with us through the following means:</p>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fas fa-envelope text-black me-2" style="color: black;"></i> Email: <a class="email-link" href="mailto:tripbliss@gmail.com">tripbliss@gmail.com</a>
            </li>
            <li class="list-group-item">
              <i class="fas fa-phone-alt text-black me-2" style="color: black;"></i> Phone: +1 (123) 456-7890
            </li>
            <li class="list-group-item">
              <i class="fas fa-map-marker-alt text-black me-2" style="color: black;"></i> Address: 123 Main Street, City, Country
            </li>
          </ul>
          <p class="card-text text-center mt-3">Our team is available to assist you with any questions or concerns you may have.</p>
        </div>
      </div>
    </div>
   
    
</body>
<%- include('partials/footer') %>
