<%- include('partials/header', { title: 'flight-search' }) %>
<!--
<form action="/search/flight" method="post">
  <label for="departure">Departure:</label>
  <input type="text" id="departure" required>

  <label for="destination">Destination:</label>
  <input type="text" id="destination" required>

  <button type="submit">Search Flights</button>
</form>-->
<body style="background-color: #FCFFE7;">
<!--<main class="container my-4">
<div class="wrapper bg-white">
  <form action="/search/flight" method="post">
    <div class="form-group d-sm-flex margin">
      <div class="d-flex align-items-center flex-fill me-sm-1 my-sm-0 my-4 border-bottom position-relative">
        <input type="text" id="departure" name="departure" required placeholder="From" class="form-control">
        <span class="fas fa-dot-circle text-muted"></span>
      </div>
      <div class="d-flex align-items-center flex-fill ms-sm-1 my-sm-0 my-4 border-bottom position-relative">
        <input type="text" id="destination" name="destination" required placeholder="To" class="form-control">
        <span class="fas fa-map-marker text-muted"></span>
      </div>
    </div>
    <div class="form-group my-3">
      <button class="btn btn-primary w-100 rounded-0 d-flex justify-content-center text-center p-3" type="submit">Search Flights</button>
    </div>
  </form>
</div>
</main>-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-5">
        <div class="card-body p-4">
          <h5 class="card-title text-center mb-4">Flight Search</h5>
          <form action="/search/flight" method="post">
            <div class="mb-3">
              <label for="departure" class="form-label">From</label>
              <input type="text" class="form-control" id="departure" name="departure" required>
            </div>
            <div class="mb-3">
              <label for="destination" class="form-label">To</label>
              <input type="text" class="form-control" id="destination" name="destination" required>
            </div>
            <div class="text-center">
              <button class="btn btn-primary" type="submit">Search Flights</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<%- include('partials/footer') %>


